<!DOCTYPE html>
<html>

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <main class="gamePage">
        <section>
            <h2>What is the movie?</h2>
            <img id="movieImg" src="/images/no-image.png" alt="Movie image">
            <p id="movieDescription"></p>
        </section>
        <section id="chat-section">
            <h2>Chat</h2>
            <ul id="messages"></ul>
            <form id="chat" action="">
                <input id="input" autocomplete="off" />
                <button type="submit">Send</button>
            </form>
        </section>
        <section class="score">
            <h2></h2>
            <ul id="score">
            </ul>
        </section>
        <div class="skip">
            <button id="skip-button">Skip this movie</button>
        </div>
    </main>
</body>


</html>